.address{
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 7px;
}

.text {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.text-two {
    font-family: 'Source Sans Pro', sans-serif; 
}

.skills {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
    margin: 0 auto;

}
.box {

    font-family: 'Source Sans Pro', sans-serif; 
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    background-color: blueviolet;
}

.power {
    max-width: 1024px; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

h5 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

h6 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
}

ul {
    font-size: 20px;
    list-style-type: disc;
}

.me {
    padding-top: 50px;
    padding-bottom: 50px;

}

.lisa {
    padding-top: 30px;
    text-align: center;

}

.big {
    padding: 200px 200px 200px 200px
}

.big_two {
    max-width: 1024px; 
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
}

.ilogo {
    font-size: 35px;
    color: black;
    max-width: 1024px;
    width: 800px;
    margin: 0 auto;
    display: flex;
}

.ilogo-two {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;   
    margin: 10px;
}

.project {
    width: 300px;
    height: 250px;
    object-position: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    margin-left: 610px;
}